.root {
  display: flex;
  height: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 2rem;
  gap: 2rem;
}

.timerSection {
  display: flex;
  justify-content: center;
}

.logSection {
  flex: 1;
}

@media (max-width: 640px) {
  .root {
    flex-direction: column;
  }

  .main {
    padding: 1rem;
    gap: 0;
    overflow: hidden;
  }

  .timerSection {
    flex: 1;
    align-items: stretch;
  }

  .logSection {
    display: none;
  }
}
